{% extends "base.html" %}

{% block title %}Index{% endblock %}

{% block head %}
    {{ parent() }}

    <style type="text/css">

        .important { color: #336699; }

    </style>
    {% if bgcolor==1 %}
    <style type="text/css">
        body {
            background-color: coral;
        }
    </style>
    {% endif %}
{% endblock %}

{% block content %}
        <h1>Index</h1>
        <p class="important">
            Welcome on my awesome homepage.
        </p>
    {% endblock %}


    {% block left_teaser %}
        <h1>Index1</h1>

    {% endblock %}

{% block footer %}
    &copy; Copyright 2011 by <a href="http://domain.invalid/">you</a>.
    <br><a href="tagdemo.php" target="_blank">Back to Normal</a>
    <br><a href="tagdemo.php?color=1" target="_blank">Change background color</a>
{% endblock %}

{% deprecated 'The "base.twig" template is deprecated, use "layout.twig" instead.' %}
